body {
  background-color: #282c34;
  color: white;
  overflow: hidden;
}
.App {
  text-align: center;
}


.App-center {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.App-link {
  color: #61dafb;
}
