.player {
    cursor: pointer;
    border: solid 5px gray;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transition: 0.15s;
    display: inline-block;
    background-color: #282c34;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.player span {
    position: absolute;
    width: 100%;
    line-height: 100px;
    text-align: center;
    top: 50%;
    margin-top: -50px;
}

.player:hover {
    border: solid 5px tomato;
  }

  .player video {
      height: 100%;
  }